.App {
  text-align: center;
}

.mainBox {
  border: solid 3px black;
  min-width: 97vw;
  min-height: 599px;
  padding: 5px;
}

.submit-btn {
  margin-left: 5px;
}

.nameHolder {
  padding-left: 10px;
  padding-right: 10px;
}
